<% if (site.categories.length){ %>
  <aside id="krw-categories" class="widget widget-kratos-categories clearfix">
    <h4 class="widget-title"><i class="fa fa-folder"></i><%- __('categories') %></h4>
      <%- list_categories({show_count: true}) %>
  </aside>
  <div class="sticky-area">

    <a href="https://www.laigame.store/product/%E5%A4%A9%E8%AB%AD/r/191/?campaign=%E5%A4%A9%E8%AB%AD"
    target="_blank"> <img src="https://i.imgur.com/Db1JM22.gif" alt=""></a>
</div>
<% } %>
